#servis {
    padding: 50px 0 0 0;

    h1 {
        color: white;
        text-align: center;

    }

    .servis {
        &-str {
            display: flex;
            align-items: end;
            margin: 30px 0;
            // width: 1400px;
            justify-content: space-between;

            // &_line {
            //     border-bottom: dashed red;
            //     width: 50%;
            // }

            h3 {
                color: var(--WHITE, #FFF);
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #FFF;
            }

            span {
                color: var(--WHITE, #FFF);
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            div {
                // width: 850px;
                // height: 1px;
                color: #FFF;
                display: flex;
                align-items: end;
            }


        }

        button {
            display: inline-flex;
            padding: 12px 32px;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            border: 2px solid #282828;
            color: #676767;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background: transparent;
            outline: none;
            margin-left: 1130px;
            // text-align: end;
        }
    }
}