#recom {
  .container {
    width: 1440px;

    .recom {
      margin-top: -135px;
      height: 800px;

      &--hello {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 260px;

        &__recom-text {
          h1 {
            width: 655px;
            color: var(--f3, #f3f3f3);
            leading-trim: both;
            text-edge: cap;
            font-family: Montserrat;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 76.8px */
            letter-spacing: -0.2px;
            text-transform: capitalize;
          }

          p {
            width: 578px;
            color: var(--f3, #f3f3f3);
            leading-trim: both;
            text-edge: cap;
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 28.6px */
            font-variant: small-caps;
            letter-spacing: -0.2px;
            opacity: 0.8;
          }
        }

        &__block {
          width: 420px;
          height: 540px;
          flex-shrink: 0;
          background: #f3f3f3;

          &--blocks {
            margin-left: 17px;

            &__flex {
              display: flex;
              justify-content: space-between;
              margin-top: 10px;
            }

            &__flexs {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;

              &--icons {
                font-size: 30px;
                margin-right: 17px;
              }
            }
          }

          h1 {
            // padding-top: 25px;
            margin-top: 25px;
            margin-bottom: 15px;
            width: 333px;
            color: var(--balack, #111);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
          }

          h2 {
            color: var(--balack, #111);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 24px */
            width: 253px;
            margin-bottom: 8px;

          }

          h3 {
            color: var(--balack, #111);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            justify-content: space-between;
            width: 45px;
          }

          p {
            margin-right: 20px;
            color: var(--balack, #111);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
          }

          button {
            display: inline-flex;
            padding: 10px 32px;
            align-items: center;
            gap: 16px;
            border-radius: 8px;
            border: 1px solid var(--balack, #111);
            color: var(--balack, #111);
            leading-trim: both;
            text-edge: cap;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
