#login {
  padding: 5% 0;

  .container {
width: 1440px;
    .login {
      background: var(--balack, #111);
      width: 1440px;
      height: 1024px;
      display: flex;
      align-items: center;

      &--icon {
        color: #D22B43;
        font-size: 60px;
        position: absolute;
        z-index: 1;
        margin: 0 0 47% 2%;
      }

      &--n1 {
        z-index: 100;
        display: flex;
        align-items: center;

        &__a1 {
          text-align: center;
          margin: 50% 0 0 0;
          width: 710px;
          height: 1024px;
          flex-shrink: 0;
          position: absolute;

          p {
            color: var(--Rectangle-70, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 300;
          }

          h2 {
            color: var(--WHITE, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: relative;
            cursor: pointer;

            &::before {
              position: absolute;
              content: '';
              width: 497px;
              height: 2px;
              background: #D22B43;
              top: 50px;
              left: 107px;
            }
          }
        }

        &__a2 {
          margin: 50% 0 0 38%;
          text-align: center;
          position: absolute;
          width: 710px;
          height: 1024px;
          flex-shrink: 0;

          h2 {
            color: var(--WHITE, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 36px;
            font-weight: 400;
            position: relative;
            cursor: pointer;

            &::before {
              position: absolute;
              content: '';
              width: 497px;
              height: 2px;
              background: #D22B43;
              top: 50px;
              left: 107px;
            }
          }
        }
      }

      &--cnt {
        display: flex;
        align-items: center;

        &__images {
          display: flex;
          align-items: center;
          text-align: center;
          position: relative;
          width: 710px;
          height: 1024px;
        }

        &__c1 {
          z-index: 1;
          display: flex;
          align-items: center;
          flex-direction: column;

          h1 {
            margin-bottom: 20px;
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 500;
            font-family: Montserrat, sans-serif;
          }

          p {
            color: #FFFFFF;
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 400;
          }

          &--google {
            cursor: pointer;
            margin: 30px 0 40px 0;
            width: 458px;
            height: 60px;
            background: var(--red, #D22B43);
            border: none;

            color: var(--WHITE, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }

          h2 {
            color: var(--WHITE, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 38px;
          }

          input {
            outline: none;
            margin-top: 20px;
            padding: 0 0 0 20px;
            width: 550px;
            height: 60px;
            border: none;
            border-bottom: 1px solid #A4A4A4;
            background: none;

            color: var(--WHITE, #FFF);
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &--btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin-top: 80px;

            &__btn1 {
              cursor: pointer;
              display: flex;
              width: 285px;
              height: 60px;
              padding: 10px;
              justify-content: center;
              align-items: center;
              background: var(--red, #D22B43);

              color: var(--WHITE, #FFF);
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-weight: 500;
              border: none;

              &:hover {
                transform: scale(.985);
                transition: .25s;
              }
            }

            &__btns {
              cursor: pointer;
              display: flex;
              width: 285px;
              height: 60px;
              padding: 10px;
              justify-content: center;
              align-items: center;
              background: none;
              border: 1px solid var(--red, #D22B43);

              color: var(--red, #D22B43);
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-weight: 400;

              &:hover {
                transform: scale(.985);
                transition: .25s;
              }
            }
          }
        }
      }
    }
  }
}
