#adviceTo{
  padding: 10% 0;
  background: #F1F1F1;
  .adviceTo{
    &--second{
      h3{
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 30px 0;
        span{
          color: var(--balack, #111);
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          position: relative;
          margin: 0 0 0 85px;
          &::before{
            content: '';
            position: absolute;
            width: 72px;
            height: 1px;
            left: -80px;
            top: 12px;
            background: var(--balack, #111);
          }
        }
      }
      h1{
        width: 919px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.2px;
        text-transform: capitalize;
      }
    }
    &--images{
      margin: 80px 0 73px 0;
      img{
        width: 152.8%;
        margin: 0 0 0 -328px;
      }
    }
    &--three{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2{
        margin-bottom: 40px;
        width: 846px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.2px;
        text-transform: capitalize;
      }
      p{
        margin-bottom: 80px;
        width: 846px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 26px */
        font-variant: small-caps;
        opacity: 0.8;
      }
      h4{
        margin-bottom: 40px;
        width: 846px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 41.6px */
        letter-spacing: -0.2px;
        text-transform: capitalize;
      }
      h6{
        margin-bottom: 80px;
        width: 846px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 26px */
        font-variant: small-caps;
        opacity: 0.8;
      }
      h5{
        margin-bottom: 40px;
        width: 846px;
        color: var(--balack, #111);
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 41.6px */
        letter-spacing: -0.2px;
        text-transform: capitalize;
      }
    }
    &--phore{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &__a1{
        h4{
          margin-bottom: 20px;
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 26px */
          font-variant: small-caps;
        }
        h2{
          width: 305px;
          height: 90px;
          overflow: hidden;
          color: #000;
          leading-trim: both;
          text-edge: cap;
          text-overflow: ellipsis;
          whitespace: nowrap;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 26px */
          font-variant: small-caps;
        }
      }
      h1{
        position: relative;
        &::before{
          top: -70px;
          content: '';
          position: absolute;
          width: 1px;
          height: 150px;
          opacity: 0.8;
          background: #111;
        }
      }
      &__a2{
        h4{
          margin-bottom: 20px;
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          text-align: right;
          font-weight: 500;
          line-height: 130%; /* 26px */
          font-variant: small-caps;
        }
        h2{
          display: flex;
          width: 305px;
          height: 80px;
          color: #000;
          text-align: right;
          text-overflow: ellipsis;
          whitespace: nowrap;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 26px */
          font-variant: small-caps;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  #adviceTo .adviceTo--images img {
    width: 134.5%;
    margin: 0 0 0 -328px;
  }
}
@media (max-width: 1200px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -313px;
  }
}
@media (max-width: 1024px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -267px;
  }
  #adviceTo .adviceTo--second h1 {
    width: 608px;
    font-size: 52px;
  }
  #adviceTo .adviceTo--three h2 {
    width: 697px;
    font-size: 38px;
  }
  #adviceTo .adviceTo--three p {
    width: 695px;
    font-size: 18px;
    margin-bottom: 55px;
  }
  #adviceTo .adviceTo--three h4 {
    width: 690px;
    font-size: 30px;
  }
  #adviceTo .adviceTo--three h6 {
    width: 690px;
    font-size: 18px;
  }
  #adviceTo .adviceTo--three h5 {
    width: 690px;
    font-size: 30px;
  }
  #adviceTo .adviceTo--phore__a1 h2 {
    width: 272px;
    height: 76px;
    font-size: 18px;
  }
  #adviceTo .adviceTo--phore__a2 h2 {
    width: 243px;
    height: 72px;
    font-size: 18px;
  }
  #adviceTo .adviceTo--phore__a1 h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  #adviceTo .adviceTo--phore__a2 h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -258px;
  }
}
@media (max-width: 820px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -213px;
  }
  #adviceTo .adviceTo--second h1 {
    width: 555px;
    font-size: 48px;
  }
  #adviceTo .adviceTo--three h2 {
    width: 625px;
    font-size: 34px;
  }
  #adviceTo .adviceTo--three p {
    width: 625px;
    font-size: 16px;
    margin-bottom: 55px;
  }
  #adviceTo .adviceTo--three h4 {
    width: 625px;
    font-size: 26px;
  }
  #adviceTo .adviceTo--three h6 {
    width: 625px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--three h5 {
    width: 625px;
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -200px;
  }
}
@media (max-width: 576px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -150px;
  }
  #adviceTo .adviceTo--second h1 {
    width: 503px;
    font-size: 44px;
  }
  #adviceTo .adviceTo--images {
    margin: 55px 0 50px 0;
  }
  #adviceTo .adviceTo--three h2 {
    width: 480px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--three p {
    width: 480px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  #adviceTo .adviceTo--three h4 {
    width: 480px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--three h6 {
    width: 480px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--three h5 {
    width: 480px;
    font-size: 22px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--phore__a1 h2 {
    width: 209px;
    height: 80px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--phore__a1 h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--phore__a1 h2 {
    width: 161px;
    height: 80px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--phore__a2 h2 {
    width: 209px;
    height: 72px;
    font-size: 18px;
  }
  #adviceTo .adviceTo--phore h1::before {
    top: -30px;
    height: 115px;
  }
  #adviceTo .adviceTo--phore__a2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 101px 0 0 0;
  }
  #adviceTo .adviceTo--phore__a2--icon {
    font-size: 30px;
    margin-top: 150px;
  }
}
@media (max-width: 450px) {
  #adviceTo .adviceTo--second h1 {
    width: 370px;
    font-size: 32px;
  }
  #adviceTo .adviceTo--three h2 {
    width: 350px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--three p {
    width: 350px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  #adviceTo .adviceTo--three h4 {
    width: 350px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--three h6 {
    width: 350px;
    font-size: 16px;
  }
  #adviceTo .adviceTo--three h5 {
    width: 350px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  #adviceTo .adviceTo--phore__a1 h2 {
    width: 161px;
    height: 80px;
    font-size: 14px;
  }
  #adviceTo .adviceTo--phore__a1 h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #adviceTo .adviceTo--phore__a2 h2 {
    width: 165px;
    height: 72px;
    font-size: 14px;
  }
  #adviceTo .adviceTo--phore__a2 h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  #adviceTo .adviceTo--phore__a2--icon {
    font-size: 30px;
    margin-top: 127px;
  }
}
@media (max-width: 414px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -108px;
  }
}
@media (max-width: 400px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -104px;
  }
  #adviceTo .adviceTo--second h1 {
    width: 342px;
    font-size: 30px;
  }
  #adviceTo .adviceTo--second h3 {
    font-size: 16px;
    margin: 15px 0;
  }
  adviceTo .adviceTo--second h3 span {
    font-size: 18px;
    margin: 0 0 0 83px;
  }
}
@media (max-width: 390px) {
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -102px;
  }
}
@media (max-width: 375px) {
  #adviceTo .adviceTo--second h1{
    width: 344px;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.2px;
  }
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -98px;
    height: 200px;
  }
  #adviceTo .adviceTo--three h2{
    width: 343px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  #adviceTo .adviceTo--three p{
    width: 343px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.8;
  }
  #adviceTo .adviceTo--three h4{
    width: 343px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  #adviceTo .adviceTo--three h6{
    width: 343px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.8;
  }
  #adviceTo .adviceTo--three h5{
    width: 343px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  #adviceTo .adviceTo--phore__a1 h2{
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    width: 141px;
    height: 71px;
  }
  #adviceTo .adviceTo--phore__a1 h4{
    color: #000;
    text-align: left;
    font-size: 10px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.6;
    margin-bottom: 5px;
  }
  #adviceTo .adviceTo--phore__a2 h2{
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    width: 141px;
    height: 71px;
  }
  #adviceTo .adviceTo--phore__a2 h4{
    color: #000;
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    line-height: 130%;
    opacity: 0.6;
    margin-bottom: 5px;
  }
  #adviceTo .adviceTo--phore h1::before{
    width: 1px;
    height: 60px;
    stroke: var(--balack, #111);
    opacity: 0.8;
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  #adviceTo .adviceTo--second h1 {
    width: 277px;
    font-size: 28px;
  }
  #adviceTo .adviceTo--three h2 {
    width: 275px;
  }
  #adviceTo .adviceTo--three p {
    width: 275px;
  }
  #adviceTo .adviceTo--three h4 {
    width: 275px;
  }
  #adviceTo .adviceTo--three h6 {
    width: 275px;
  }
  #adviceTo .adviceTo--three h5 {
    width: 275px;
  }
  #adviceTo .adviceTo--images img {
    margin: 0 0 0 -83px;
    height: 200px;
  }
  #adviceTo .adviceTo--second h3 {
    font-size: 14px;
    margin: 15px 0;
  }
  #adviceTo .adviceTo--second h3 span {
    font-size: 14px;
  }
  #adviceTo .adviceTo--second h3 span::before {
    top: 10px;
  }
  #adviceTo .adviceTo--phore__a1 h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    width: 119px;
    height: 68px;
  }
  #adviceTo .adviceTo--phore__a2 h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    width: 131px;
    height: 71px;
  }
}