#header {
  .header {
    padding: 10px 0;
    margin: 40px 0 0 0;
    border-top: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {}

    &--nav {
      display: flex;
      align-items: center;

      h1 {
        color: #F1F1F1;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 40px 0 0;

      }
    }

    &--right {
      display: flex;
      align-items: center;

      &__bookmark {
        width: 24px;
        height: 24px;
        color: #ffff;
        margin: 0 30px 0 20px;
      }

      button {
        display: inline-flex;
        max-width: 121.52px;
        padding: 8px 20px;
        align-items: flex-start;
        border-radius: 8.64px;
        border: 1px solid #F1F1F1;
        background: none;

        color: #F1F1F1;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.048px;
      }

      select {
        border: none;
        outline: none;
        background: none;
        color: #FFF;
        font-family: Inria Sans, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

      }
    }
  }
}