#platform {
  padding: 6% 0 10% 0;
  background: #FFFFFF;
  .platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--images3{
      img{
        display: none;

      }
    }
    &--images {
      display: inline-block;
      overflow: hidden;
      border-radius: 12px;
      position: relative;

      img {
        transition: transform 0.5s, filter 1s;
        display: block;
        filter: grayscale(100%);
      }

      img:hover {
        transform: scale(1.2);
        filter: none;
      }
    }
    &--text{
      h1{
        width: 640px;
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 38px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.2px;
        text-transform: uppercase;
      }
      ul{
        margin: 35px 0 50px 40px;
        li{
          margin-top: 15px;
            width: 600px;
            color: #000;
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
            font-variant: small-caps;
            letter-spacing: -0.2px;
        }
      }
      button {
        width: 271px;
        height: 49px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid var(--red, #D22B43);
        cursor: pointer;

        color: var(--red, #D22B43);
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        font-variant: small-caps;
        letter-spacing: -0.2px;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
          background-color: var(--red, #D22B43);
          color: white;
        }
      }


    }
    }
  }
@media (max-width: 1240px) {
  #platform .platform--text h1 {
    width: 540px;
    font-size: 32px;
  }
  #platform .platform--text ul li {
    margin-top: 10px;
    width: 547px;
    font-size: 22px;
  }
  #platform .platform--images img {
    width: 90%;
  }
  #platform .platform--text button {
    width: 266px;
    height: 45px;
    font-size: 22px;
  }
  #platform .platform--text ul {
    margin: 60px 0 60px 25px;
  }
}
 @media (max-width: 1200px) {
   .container{
     width: 90%;
   }
   #platform .platform--text h1 {
     width: 540px;
     font-size: 32px;
   }
   #platform .platform--text ul li {
     width: 516px;
     font-size: 22px;
   }
   #platform .platform--images img {
     width: 480px;
   }
   #platform .platform--text button {
     width: 259px;
     height: 39px;
     font-size: 22px;
   }
 }
@media (max-width: 1024px) {
  #platform .platform--text ul li {
    width: 485px;
    font-size: 20px;
  }
  #platform .platform--text h1 {
    width: 479px;
    font-size: 28px;
  }
  #platform .platform--text ul li {
    width: 450px;
    font-size: 20px;
  }
  #platform .platform--text ul {
    margin: 40px 0 40px 25px;
  }
  #platform .platform--text button {
    width: 249px;
    height: 35px;
    font-size: 20px;
  }
  #platform .platform--images img {
    width: 400px;
  }
}
@media (max-width: 992px) {
  #platform .platform--text h1 {
    width: 443px;
    font-size: 26px;
  }
  #platform .platform--text ul li {
    width: 424px;
    font-size: 18px;
  }
  #platform .platform--text button {
    font-size: 18px;
  }
}
@media (max-width: 820px) {
  #platform .platform {
    flex-wrap: wrap;
  }
  #platform .platform--text h1 {
    width: 549px;
    margin-top: 20px;
  }
  #platform .platform--text ul li {
    width: 640px;
  }
  #platform .platform--text ul {
    margin: 25px 0 25px 25px;
  }
}
@media (max-width: 768px) {
  #platform .platform {
    flex-wrap: wrap;
  }
  #platform .platform--text h1 {
    width: 549px;
    margin-top: 20px;
  }
  #platform .platform--text ul li {
    width: 640px;
  }
  #platform .platform--text ul {
    margin: 25px 0 25px 25px;
  }
}
@media (max-width: 576px) {
  #platform .platform--text h1 {
    width: 447px;
    margin-top: 20px;
  }
  #platform .platform--text ul li {
    width: 468px;
  }
  #price .price--we__prices {
    margin-top: 20px;
  }


  #price .price--we__prices h3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  #platform .platform--text h1 {
    width: 370px;
    margin-top: 15px;
    font-size: 22px;
  }
  #platform .platform--text ul li {
    width: 360px;
    font-size: 16px;
  }
  #platform .platform--text button {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  #platform .platform--text ul li {
    width: 337px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  #platform .platform--text ul li {
    width: 328px;
    font-size: 16px;
  }
  #platform .platform--text h1 {
    width: 370px;
    margin-top: 15px;
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  #platform .platform--images3 img{
    display: block;
    margin: 0 0 0 -19px;
  }
  #platform .platform--images img{
    display: none;
  }
  #platform .platform--text h1 {
    width: 339px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  #platform .platform--text ul li {
    width: 299px;
    font-size: 14px;
    margin-top: 5px;
  }
  #platform .platform--text button{
    width: 337px;
    height: 46px;

    font-size: 20px;
  }
}
@media (max-width: 320px) {
  #platform .platform--images3 img {
    width: 323px;
  }
  #platform .platform--text h1 {
    width: 286px;
    font-size: 17px;
  }
  #platform .platform--text ul li {
    width: 250px;
    font-size: 14px;
    margin-top: 5px;
  }
  #platform .platform--text button {
    width: 284px;
    height: 42px;
    font-size: 18px;
  }
}