#footer {
  padding: 5% 0 10% 0;

  .footer {
    h1 {
      text-align: center;
      color: #FFF;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 130%;
      font-variant: small-caps;
      letter-spacing: -0.2px;
    }

    &--text {
      margin: 0 0 0 159px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__name {
        width: 374px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        h2 {
          color: #FFF;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 130%;
          font-variant: small-caps;
          letter-spacing: -0.2px;
        }

        h3 {
          color: #FFF;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 130%;
          font-variant: small-caps;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #footer .footer--text {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
  }
  #footer .footer--text__name {
    width: 374px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  #footer .footer--text__name {
    height: 93px;
  }

}