#SalonPrice {
  padding: 10% 0;
  .SalonPrice {
    h1 {
      color: white;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 130%;
      font-variant: small-caps;
      letter-spacing: -0.2px;
      text-align: center;
      margin-bottom: 60px;
    }

    &--we {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__images {
        h2 {
          width: 525px;
          color: white;
          font-family: Montserrat, sans-serif;
          font-size: 40px;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
          margin-bottom: 23px;
        }
        &--have3{
          img{
            display: none;
          }
        }
        &--images2 {
          display: inline-block;
          overflow: hidden;
          border-radius: 4px;
          position: relative;

          img {
            transition: transform 1s, filter 1s;
            display: block;
            filter: none;
          }

          img:hover {
            transform: scale(1.2);
            filter: grayscale(100%);
          }
        }
      }
      &__prices{
        margin-top: 78px;
        h3 {
          display: none;
          color: white;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 130%;
          font-variant: small-caps;
          letter-spacing: -0.2px;
          text-align: center;
          margin-bottom: 60px;
        }
        &--ot{
          display: flex;
          width: 590px;
          height: 49px;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid white;
          margin: 20px  0;
          h4{
            color: white;
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            position: relative;
          }
          h5{
            color: var(--red, #D22B43);
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .container{
    width: 90%;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    width: 311px;
    font-size: 32px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h4 {
    font-size: 22px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h5 {
    font-size: 22px;
  }
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 500px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 530px;
    height: 43px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 530px;
    height: 40px;
  }
}
@media (max-width: 1024px) {
  #SalonPrice .SalonPrice--we__prices--ot h4 {
    font-size: 20px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h5 {
    font-size: 20px;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    width: 297px;
    font-size: 30px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 427px;
    height: 35px;
  }
  #SalonPrice .SalonPrice h1 {
    margin-bottom: 40px;
  }
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 456px;
  }
}
@media (max-width: 992px) {
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 400px;
    height: 32px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h4 {
    font-size: 18px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h5 {
    font-size: 18px;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    width: 279px;
    font-size: 28px;
    font-weight: 500;
  }
  #SalonPrice .SalonPrice h1 {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
@media (max-width: 820px) {
  #SalonPrice .SalonPrice--we {
    flex-wrap: wrap;
    justify-content: center;
  }
  #SalonPrice .SalonPrice--we__images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    margin-top: 23px;
    text-align: center;
  }
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 820px;
    height: 380px;
  }
  #SalonPrice .SalonPrice h1{
    display: none;
  }
  #SalonPrice .SalonPrice--we__prices h3{
    display: block;
  }
  #SalonPrice .SalonPrice--we__prices--ot{
    width: 590px;
    height: 49px;
  }
}
@media (max-width: 768px) {
  #SalonPrice .SalonPrice--we {
    flex-wrap: wrap;
    justify-content: center;
  }
  #SalonPrice .SalonPrice--we__images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    margin-top: 23px;
    text-align: center;
  }
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 770px;
    height: 380px;
  }
  #SalonPrice .SalonPrice h1{
    display: none;
  }
  #SalonPrice .SalonPrice--we__prices h3{
    display: block;
  }
  #SalonPrice .SalonPrice--we__prices--ot{
    width: 590px;
    height: 49px;
  }
}
@media (max-width: 576px) {
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 577px;
    height: 347px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 465px;
  }
}
@media (max-width: 450px) {
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 452px;
    height: 269px;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    margin-top: 15px;
    font-size: 24px;
  }
  #SalonPrice .SalonPrice--we__prices {
    margin-top: 25px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 370px;
    height: 33px;
  }
  #SalonPrice .SalonPrice--we__prices h3 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 414px) {
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 414px;
  }
}
@media (max-width: 400px) {
  #SalonPrice .SalonPrice--we__images--images2 img {
    width: 400px;
    height: 223px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 351px;
    height: 22px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h4 {
    font-size: 16px;
  }
  #SalonPrice .SalonPrice--we__prices--ot h5 {
    font-size: 16px;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    margin-top: 15px;
    font-size: 20px;
  }
  #SalonPrice .SalonPrice--we__prices h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (max-width: 375px) {
  #SalonPrice .SalonPrice--we__images--images2 img{
    display: none;
  }
  #SalonPrice .SalonPrice--we__images--have3 img{
    display: block;
    width: 375px;
    height: 500px;
  }
  #SalonPrice .SalonPrice--we__images{
    justify-content: start;
  }
  #SalonPrice .SalonPrice--we__images h2 {
    text-align: start;
    margin-left: 17px;
    font-weight: 600;
    font-size: 24px;
  }
  #SalonPrice .SalonPrice--we__prices--ot{
    width: 340px;
    height: 40px;
  }
  #SalonPrice .SalonPrice--we__prices h3 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  #SalonPrice .SalonPrice--we__images--have3 img {
    display: block;
    width: 320px;
    height: 444px;
  }
  #SalonPrice .SalonPrice--we__prices--ot {
    width: 277px;
    height: 38px;
  }
}